In [1]:
valor = input('Informe o valor monetário:')
print ("O novo valor é ", valor * 0.85)

Informe o valor monetário:30

TypeError: can't multiply sequence by non-int of type 'float'

In [2]:
valor = input('Informe o valor monetário:')
print ("O novo valor é ", valor * 85%)

SyntaxError: invalid syntax (2136401472.py, line 2)

In [3]:
valor = input('Informe o valor monetário:')
print ("O novo valor é ", float(valor * 0.85))

Informe o valor monetário:30

TypeError: can't multiply sequence by non-int of type 'float'

In [4]:
valor = input('Informe o valor monetário:')
print ("O novo valor é ", valor * 85/100)

Informe o valor monetário:100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [5]:
valor = input('Informe o valor monetário:')
print ("O novo valor é ", float(valor * 85/100))

Informe o valor monetário:100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [6]:
valor_monetario = input('Informe o valor monetário:')
valor_novo = valor_monetario - (valor_monetario * 15/100)
print ("O novo valor é ", valor_novo)

Informe o valor monetário:100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [7]:
valor_monetario = float(input("Digite um valor: "))

valor_novo = valor_monetario - (valor_monetario * 15/100)


print("O novo valor é ", valor_novo)

Digite um valor: 100
O novo valor é  85.0

In [8]:
valor = Float(input('Informe o valor monetário:'))
print ("O novo valor é ", valor * 85/100)

NameError: name 'Float' is not defined

In [9]:
valor = float(input('Informe o valor monetário:'))
print ("O novo valor é ", valor * 85/100)

Informe o valor monetário:100
O novo valor é  85.0

In [10]:
valor = float(input('Informe o valor monetário:'))
print ("O novo valor é ", valor * 0.85)

Informe o valor monetário:100
O novo valor é  85.0